<footer>
	<div class="row">
		<div class="col-xxs-12 col-xs-12 col-s-8 col-m-8 col-l-8">
			<a class="github-button" href="https://github.com/dirkeinecke" data-count-href="/dirkeinecke/followers" data-count-api="/users/dirkeinecke#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @dirkeinecke on GitHub">Follow @dirkeinecke</a>
			&nbsp;
			<a class="github-button" href="https://github.com/dirkeinecke/Markdown-Syntax" data-icon="octicon-eye" data-count-href="/dirkeinecke/Markdown-Syntax/watchers" data-count-api="/repos/dirkeinecke/Markdown-Syntax#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch dirkeinecke/Markdown-Syntax on GitHub">Watch</a>
			&nbsp;
			<a class="github-button" href="https://github.com/dirkeinecke/Markdown-Syntax" data-icon="octicon-star" data-count-href="/dirkeinecke/Markdown-Syntax/stargazers" data-count-api="/repos/dirkeinecke/Markdown-Syntax#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star dirkeinecke/Markdown-Syntax on GitHub">Star</a>
			&nbsp;
			<a class="github-button" href="https://github.com/dirkeinecke/Markdown-Syntax/fork" data-icon="octicon-repo-forked" data-count-href="/dirkeinecke/Markdown-Syntax/network" data-count-api="/repos/dirkeinecke/Markdown-Syntax#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork dirkeinecke/Markdown-Syntax on GitHub">Fork</a>
			&nbsp;
		</div>
		<div class="col-xxs-12 col-xs-12 col-s-4 col-m-4 col-l-4 text-push">
			<small><a href="https://github.com/dirkeinecke/Markdown-Syntax/blob/gh-pages{{ page.url | replace: '.html', '.md' }}" target="_blank"><i class="fa fa-github"></i> Seite auf GitHub barbeiten</a> / <a href="/Impressum/">Impressum</a></small>
		</div>
	</div>
</footer>
