{% assign page_url = page.url | remove: 'index.html' %}

<form>
	<select size="1" onchnage="goTo(this.value)">
		<option></option>
		{% for link in site.data.navigation %}
			<option value="{{ link.path }}">- {{ link.text }}</option>
			{% for item_1 in link.items %}
				<option value="{{ item_1.path }}">-- {{ item_1.text }}</option>
			{% endfor %}
		{% endfor %}
	</select>
</form>

<ul class="no-bullets">
	{% for link in site.data.navigation %}
		{% assign active = '' %}
		{% if page_url contains link.path %}
			{% assign active = ' class="active"' %}
		{% endif %}
		<li>
			<a{{ active }} href="{{ link.path }}">{{ link.text }}</a>
			{% if page_url contains link.path and link.items != null and link.items != empty %}
				<ul class="no-bullets">
					{% for item_1 in link.items %}
						{% assign active = '' %}
						{% if page_url contains item_1.path %}
							{% assign active = ' class="active"' %}
						{% endif %}
						<li>
							<a{{ active }} href="{{ item_1.path }}">{{ item_1.text }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>
