{% assign page_url = page.url | remove: 'index.html' %}
<ul class="no-bullets">
	{% for link in site.navigation %}
		{% assign active = '' %}
		{% if page_url == link.path %}
			{% assign active = ' class="active"' %}
		{% endif %}
		<li>
			<a{{ active }} href="{{ link.path }}">{{ link.text }}</a>
			{% if link.items != null and link.items != empty %}
				<ul class="no-bullets">
					{% for item_1 in link.items %}
						{% assign active = '' %}
						{% if page_url == item_1.path %}
							{% assign active = ' class="active"' %}
						{% endif %}
						<li>
							<a{{ active }} href="{{ item_1.path }}">{{ item_1.text }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>
