html {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  color: #262626;
  font-size: 1.2rem;
  line-height: 160%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  margin: 0;
  padding: 0;
}

h3,
h4 {
  border-bottom: thin solid #dfdfdf;
}

header {
  padding: 2rem 0 1.5rem 0;
  margin: 0 0 1.5rem 0;
  border-bottom: thin solid #dfdfdf;
}

a,
a:link,
a:active,
a:focus,
a:visited,
a:hover {
  color: #3362b3;
  text-decoration: none;
}

footer {
  padding: 1.5rem 0 2rem 0;
  margin: 1.5rem 0 0 0;
  border-top: thin solid #dfdfdf;
}

footer p {
  margin: 0;
  padding: 0;
}

.sidebar {
  margin-top: 2.8rem;
  font-size: 0.8rem;
}

.sidebar ul li a {
    display: block;
    padding: 0.4rem 0 0.4rem 0;
    margin-right: 0.8rem;
    border-bottom: thin solid #dfdfdf;
    line-height: 140%;
}

.sidebar ul li ul li {
    padding-left: 1.5rem;
}

.sidebar ul li a.active {
  font-weight: 500;
}
