<!DOCTYPE html>
<html lang="de">
 	{% include head.html %}
 	<body>
 		<div class="container">
			{% include header.html %}
			<div class="row">
				<div class="col-xxs-12 col-xs-12 col-s-4 col-m-4 col-l-4">
					{% include menu.html %}
				</div>
				<div class="col-xxs-12 col-xs-12 col-s-8 col-m-8 col-l-8">
					<main>
						{{ content }}
					</main>
				</div>
			</div>
			{% include footer.html %}
		</div>
		<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
	</body>
</html>
