<!DOCTYPE html>
<html lang="de">
 	{% include head.html %}
 	<body>
 		<div class="container">
			{% include header.html %}
			<div class="row">
				<div class="col-xxs-12 col-xs-12 col-s-4 col-m-4 col-l-4">
					<ul class="no-bullets">
						<li><a href="/Was-ist-Markdown/">Was ist Markdown?</a></li>
						<li><a href="/Wozu-Markdown-verwenden/">Wozu Markdown verwenden?</a></li>
						<li><a href="/Markdown-Implementierungen/">Markdown-Implementierungen</a></li>
					</ul>
				</div>
				<div class="col-xxs-12 col-xs-12 col-s-8 col-m-8 col-l-8">
					<main>
						{{ content }}
					</main>
				</div>
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>
