<!DOCTYPE html>
<html lang="de">
 	{% include head.html %}
 	<body>
 		<div class="container">
			{% include header.html %}
			<div class="row">
				<div class="col-xxs-12 col-xs-12 col-s-3 col-m-3 col-l-3 sidebar">
					{% include navigation.html %}
				</div>
				<div class="col-xxs-12 col-xs-12 col-s-9 col-m-9 col-l-9 main">
					<main>
						{{ content }}
					</main>
				</div>
			</div>
			{% include footer.html %}
		</div>
		<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
		<script type="text/javascript">
			if (window.document.location.search.indexOf('Modal') > -1) {
				$('body > div.container > header, .sidebar, h2, body > div.container > footer').remove();
			}
		</script>
	</body>
</html>
